### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# Displaying Purchase data head
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Displaying Purchase data columns
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [4]:
# Total unique players
total_players = len(purchase_data["SN"].unique())
total_players
total_players_df = pd.DataFrame({'Total Players': [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Number of Unique Items
unique_items = len(purchase_data["Item ID"].unique())
unique_items

183

In [6]:
# Average Prices
avg_prices = round(purchase_data["Price"].mean(),2)
avg_prices = '${}'.format(avg_prices)
avg_prices

'$3.05'

In [7]:
# Number of Purchases
total_purchases = len(purchase_data["Purchase ID"])
total_purchases

780

In [8]:
# Total Revenue
total_revenue = purchase_data["Price"].sum()
total_revenue = '${:,}'.format(total_revenue)
total_revenue

'$2,379.77'

In [9]:
# Creating Dataframe for purchasing data summary
purchasing_df = pd.DataFrame([{"Number of Unique Items" : unique_items,
                               "Average Price" : avg_prices,
                               "Number of Purchases" : total_purchases,
                               "Total Revenue" : total_revenue}])
purchasing_df.sort_values(by=['Number of Unique Items'], axis=0, ascending=False)

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $3.05                  780                     183     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# Creating Dataframe that contains only SN and Gender
gender = purchase_data[["SN", "Gender"]]

# Drop any duplicate SNs
gender_df = gender.drop_duplicates()

# Display gender Dataframe
gender_df.head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [11]:
# Gender count
gender_count = gender_df["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [12]:
# Calculating percentage for gender
gender_percent = round((gender_count / total_players) * 100, 2)
gender_percent

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [13]:
# Creating Dataframe for gender demographic - total count and percentage of players
gender_demo_df = pd.DataFrame({"Total Count": gender_count,
                               "Percentage of Players" : gender_percent})
gender_demo_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Creating Dataframe to group purchases by gender
gender_purchase = purchase_data.groupby(["Gender"])
#gender_purchase.head()

In [15]:
# Purchase count by gender
purchase_count = gender_purchase["SN"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [16]:
# Purchase price average by gender
purchase_avg = round(gender_purchase["Price"].mean(),2)
purchase_avg

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [17]:
# Purchase total by gender
purchase_total = gender_purchase["Price"].sum()
purchase_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [18]:
# Unique purchase from unique SN
unique_purchase = purchase_data.drop_duplicates(subset="SN", keep="first")
unique_purchase

# Unique purchases by Gender
unique_group = unique_purchase.groupby(["Gender"])
unique_group

# Average purchase per person
per_person = round(purchase_total / unique_group["SN"].count(),2)
per_person

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [19]:
# Displaying Dataframe
purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                      "Average Purchase": purchase_avg,
                                      "Total Purchase Value": purchase_total,
                                      "Average Purchase per Person": per_person})

purchasing_analysis_df

,Purchase Count,Average Purchase,Total Purchase Value,Average Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
# Establishing bins and groups for ages
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 49.99]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#database for age Demo
purchase_data["Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels=age_groups)
age_demographic =purchase_data.groupby("Age Demographics")

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [23]:
# Summary table for Age Group by Total Count and Percentage of Players
age_table = purchase_data.groupby("Age Demographics").SN.nunique().reset_index(name='Total Count')

percentage = round((age_table["Total Count"] / total_players) * 100, 2)
age_table["Percentage of Players"] = percentage
age_table = age_table.set_index("Age Demographics")

age_table

                  Total Count  Percentage of Players
Age Demographics
<10                        17                   2.95
10-14                      22                   3.82
15-19                     107                  18.58
20-24                     258                  44.79
25-29                      77                  13.37
30-34                      52                   9.03
35-39                      31                   5.38
40+                        12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Binning the purchase data data frame by age
#purchase_data_age = purchase_data
purchase_data_age['Age Groups'] = pd.cut(purchase_data['Age'], age_bins, labels=age_groups)

# Grouping
purchasing_analysis = purchase_data_age[['Price', 'Age Groups']].groupby(['Age Groups']).count()
purchasing_analysis['Average Purchase Price'] = purchase_data_age[['Price', 'Age Groups']].groupby(['Age Groups']).mean()
purchasing_analysis['Total Purchase Price'] = purchase_data_age[['Price', 'Age Groups']].groupby(['Age Groups']).sum()
#purchasing_analysis['Normalized Totals'] = (purchasing_analysis['Total Purchase Price'] / purchase_data['Age Groups'])

# Calculations and formatting
purchasing_analysis['Average Purchase Price'] = purchase_data_age['Average Purchase Price'].map('${:,.2f}'.format)
purchasing_analysis['Total Purchase Price'] = purchase_data_age['Total Purchase Price'].map('${:,.2f}'.format)
purchasing_analysis['Normalized Totals'] = purchase_data_age['Normalized Totals'].map('${:,.2f}'.format)

purchasing_analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
# Identifying the top spenders
top_spenders = purchase_data['Item ID'].groupby(purchase_data['SN']).count()

# Dataframe for top spenders
top_spenders= pd.DataFrame(data=top_spenders)
top_spenders.columns = ['Purchase Count']

# Calculating Average and Total Purchase
top_spenders['Average Purchase Price'] = round(purchase_data['Price'].groupby(purchase_data['SN']).mean(),2)
top_spenders['Total Purchase Value'] = purchase_data['Price'].groupby(purchase_data['SN']).sum()

# Sort values
top_spenders.sort_values(by=['Total Purchase Value'], ascending=False, inplace=True)

# Formatting Average Purchase and Total Purchase Value 
top_spenders['Average Purchase Price'] = top_spenders['Average Purchase Price'].map('${:,.2f}'.format)
top_spenders['Total Purchase Value'] = top_spenders['Total Purchase Value'].map('${:,.2f}'.format)

top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
# Identifying the most popular items
most_popular = purchase_data.groupby(['Item ID', 'Item Name','Price'])['Price'].agg(['count','sum'])
most_popular.columns = ['Purchase Count', 'Total Purchase Value']

# Resetting index 
most_popular.reset_index(inplace=True)
most_popular.set_index(['Item ID','Item Name'] ,inplace=True)

most_popular = most_popular[['Purchase Count', 'Price', 'Total Purchase Value']]

# Sorting purchase count
most_popular_items = most_popular.sort_values(by='Purchase Count', ascending=False)

# Formatting summary table 
most_popular_items['Price'] = most_popular_items['Price'].map('${:,.2f}'.format)
most_popular_items['Total Purchase Value'] = most_popular_items['Total Purchase Value'].map('${:,.2f}'.format)

most_popular_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [27]:
# Sorting table by total purchase value in descending order
most_profitable_items = most_popular.sort_values(by='Total Purchase Value', ascending=False)

# Displaying dataframe and formatting
most_profitable_items['Price'] = most_profitable_items['Price'].map('${:,.2f}'.format)
most_profitable_items['Total Purchase Value'] = most_profitable_items['Total Purchase Value'].map('${:,.2f}'.format)
most_profitable_items.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80